<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Saadhana</title>
</head>
<body>
  <p>Make sure you are using a recent version of Google Chrome.</p>
  <p>Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid ear splitting feedback!</p>
  <button id="start">record</button>
  <button id="stop">stop</button>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/recorder.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>